body {
  color: $primary-text-color;
  background-color: $primary-bg-color;
  font-family: Roboto, sans-serif;
  font-size: $primary-font-size;
}
h1,
h2,
h3 {
  margin: 0;
}
p {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
.conteiner {
  margin-left: auto;
  margin-right: auto;

  @include for-size(mobile) {
    width: 280px;
  }
  @include for-size(tablet) {
    width: 618px;
  }
  @include for-size(desktop) {
    width: 882px;
  }
}

// .flex {
//   @include for-size(tablet) {
//     display: flex;
//   }
// }

// .wrap {
//   @include for-size(tablet) {
//     flex-wrap: wrap;
//   }
// }
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}
