body {
  color: $primary-text-color;
  background-color: $primary-bg-color;
  font-family: Roboto, sans-serif;
  font-size: $primary-font-size;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  @include for-size(mobile) {
    min-width: 320px;
    padding-left: 20px;
    padding-right: 20px;
  }
  @include for-size(tablet) {
    min-width: 768px;
    padding-left: 75px;
    padding-right: 75px;
  }
  @include for-size(desktop) {
    max-width: 1024px;
    padding-left: 70px;
    padding-right: 70px;
  }
}

// .flex {
//   @include for-size(tablet) {
//     display: flex;
//   }
// }

// .wrap {
//   @include for-size(tablet) {
//     flex-wrap: wrap;
//   }
// }
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}
