<div class="header__form">
    <form class="search-form" id="search-form">
        <div class="form__group">
            <input class="form-control" type="text" name="query" autocomplete="off" placeholder="Поиск фильмов" />
            <i class="material-icons search__icon">search</i>
        </div>
    </form>
</div>
<div class="error">
    <p>
        Search result not successful. Enter the correct movie name and
    </p>
</div>