.films {
  padding-top: 20px;
  padding-bottom: 20px;
}

.films__list {
  display: flex;
  flex-wrap: wrap;
  display: -webkit-box;

  -webkit-box-pack: justify;
  justify-content: space-between;
}

.card {
  position: relative;
height: 100%;
margin: 15px;
  border-radius: 7px;
  overflow: hidden;
  transform: scale(1, 1);
  transition: transform $primaryTransition, box-shadow $primaryTransition;
  cursor: pointer;

  &:hover,
  :focus {
    transform: scale(1.08, 1.08);
  }

  @media screen and (max-width: 319px) {
    margin-bottom: 15px;
  }

  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);

    margin-bottom: 25px;
}

.card:last-child {
  margin-bottom: 0;
}

.card__text-content {
  padding-top: 10px;
  font-weight: 500;
}

.films__title {
  margin: 0;

  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
}

.films__paragraph {
  color: $accent-text-color;
}

.films__rating {
  color: $white-text-color;
  background-color: $accent-bg-color;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 16px;
  border-radius: 5px;
}
