.films {
  padding-top: 20px;
  padding-bottom: 20px;
}

.films__list {
  display: flex;
  flex-wrap: wrap;
}

.card {
  @include for-size(desktop) {
    width: calc((100% - 60px) / 3);
  }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    width: calc((100% - 30px) / 2);
  }

  margin-bottom: 20px;
  overflow: hidden;
  box-shadow: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(173, 167, 167, 0.2);
  }
}

.card:last-child {
  margin-bottom: 0;
}

.card__text-content {
  padding-top: 10px;
  font-weight: 500;
}

.films__title {
  margin: 0;

  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
}

.films__paragraph {
  color: $accent-text-color;
}

.films__rating {
  color: $white-text-color;
  background-color: $accent-bg-color;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 16px;
  border-radius: 5px;
}
