.header {
  color: white;
  position: relative;
  overflow-x: hidden;
  background-image: url('../images/header.jpg');
  height: 230px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (min-width: 468px) {
    background-image: url('../images/header__tablet.png');
  }
  @media screen and (min-width: 769px) {
    background-image: url('../images/header__desk.png');
  }
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 45px;
}
.nav__logo__link {
  display: flex;
}
.nav__logo .nav__logo__link {
  display: flex;
  align-items: center;
}
.header__form {
  display: block;
  margin-top: 45px;
  // display: none;
  @media screen and (min-width: 468px) {
    width: 336px;
    margin-left: auto;
    margin-right: auto;
  }
}
.search-form {
  display: block;
}
.form__group {
  position: relative;
  display: flex;
  justify-content: space-between;
  &:before {
    content: ' ';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 0px;
    border: 0.5px solid #ffffff;
    // background-color: #ff6b08;
  }
}
.nav__logo__link__icon {
  width: 24px;
  height: 24px;
  fill: #818181;
}
.nav__logo__title {
  display: none;
  @media screen and (min-width: 468px) {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.17;
    color: #ffffff;
    margin-left: 10px;
    display: block;
  }
}
.header__buttons__container {
  display: inline;
  &:not(:last-of-type) {
    margin-right: 15px;
  }
}
.search__icon {
  &:hover {
    color: #ff6b08;
  }
}
.form-control {
  background-color: transparent;
  border: none;
  width: 100%;
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  &::placeholder {
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.14;
  }
  &:hover,
  &:focus {
    outline: none;
  }
}
.nav__error {
  margin-top: 20px;
  @media screen and (min-width: 435px) {
    text-align: center;
  }
}
.nav__error__message {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  color: #ff001b;
}
.header__buttons {
  text-align: center;
  margin-top: 50px;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
}
