.pagination-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 1.3;
}
.paginationjs .paginationjs-pages li.active > a {
  background-color: #ff6b08;
  border-radius: 5px;
}
.paginationjs .paginationjs-pages li:last-child > a {
  background-color: #f7f7f7;
  color: 000000;
  border-radius: 5px;
}
.paginationjs .paginationjs-pages li:first-child,
.paginationjs .paginationjs-pages li:first-child > a {
  background-color: #f7f7f7;
  color: 000000;
  border-radius: 5px;
}

.paginationjs .paginationjs-pages li > a {
  &:hover,
  &:focus {
    border-radius: 5px;
  }
  &:last-child {
    margin-right: 5px;
  }
}
.paginationjs .paginationjs-pages li {
  border: none;
}
.paginationjs .paginationjs-pages li:last-child {
  border: none;
}
